a {
  text-decoration: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  background-image: url(../../assets/Home/bg.png);
  padding-top: 80px;
}

.contactIconList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.contactIconList a {
  text-decoration: none;
  background-color: white;
}

.contactIconList span {
  color: black;
  font-size: 16px;
  padding-left: 15px;
}

.icons {
  display: flex;
  font-size: -webkit-xxx-large;
  margin: 10px;
  align-items: center;
  padding: 5px 20px 5px 20px;
  border-radius: 30px;
  box-shadow: 0 0px 10px -5px steelblue;
}

.fa-linkedin-square {
  color: steelblue;
  transition: all 0.3s ease;
}

.fa-github {
  color: black;
  transition: all 0.3s ease;
}

.linkedin:hover {
  background-color: aliceblue;
}

.github:hover {
  background-color: whitesmoke;
}

.gmail:hover {
  background-color: seashell;
}

/* .angellist:hover {
  background-color: whitesmoke;
} */
/* .fa-linkedin-square:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-angellist:hover {
  font-size: larger;
} */

.fa-envelope {
  color: crimson;
  transition: all 0.3s ease;
}

/* .fa-angellist {
  color: black;
  transition: all 0.3s ease;
} */
